.edit-profile {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  padding-top: 80px;
}

.edit-profile-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-profile h1 {
  color: #333;
}

.edit-profile form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
}

.edit-profile form label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #666;
}

.edit-profile form form-field {
  margin-bottom: 1.5rem;
}

.edit-profile form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.edit-profile form button {
  padding: 10px;
  margin-top: 1.5rem;
  background-color: #446ff2;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.3s ease;
}

.edit-profile form button:hover {
  background-color: #5d0bb0;
}

.edit-profile form p {
  margin-top: 1rem;
  text-align: center;
}

.edit-profile .edit-profile-form-wrapper .error-message {
  color: red;
  background-color: #ffdddd;
  font-size: smaller;
  text-align: left;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.edit-profile .edit-profile-form-wrapper .success-message {
  color: green;
  background-color: rgb(221, 255, 221);
  font-size: smaller;
  text-align: left;
  font-weight: bolder;
  width:80%;
  margin: 0px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.edit-profile .edit-profile-form-wrapper .failure-message {
  color: red;
  background-color: #ffdddd;
  font-size: smaller;
  text-align: left;
  font-weight: bolder;
  width:80%;
  margin: 0px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.edit-profile form .button-link {
  color: #446ff2;
  text-decoration: none;
  transition: 0.3s ease;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.edit-profile form .button-link:hover {
  color: #5d0bb0;
  background-color: transparent;
}
.edit-profile form button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}