.change-password {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    padding: 20px;
  }
  
  .change-password-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-top:80px;
    margin-bottom:20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .change-password h1 {
    color: #333;
    margin-bottom: 5px;
  }
  
  .change-password h5 {
    color: #333;
    margin-bottom: 0px;
    padding:0px !important;
    text-align: left;
    font-weight: lighter;
  
  }
  
  .change-password form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    padding: 10px;
    border-radius: 20px;
  }
  
  .change-password form label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #666;
  }
  
  .change-password form form-field {
    margin-bottom: 1.5rem;
  }
  
  .change-password form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  .change-password form button {
    padding: 10px;
    margin-top: 1.5rem;
    background-color: #446ff2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s ease;
  }
  
  .change-password form button:hover {
    background-color: #5d0bb0;
  }
  
  .change-password form p {
    margin-top: 1rem;
    text-align: center;
  }
  
  .change-password .change-password-form-wrapper .error-validation-message {
    color: red;
    background-color: #ffdddd;
    font-size: smaller;
    text-align: left;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .change-password .change-password-form-wrapper .success-message {
    color: green;
    background-color: rgb(221, 255, 221);
    font-size: smaller;
    text-align: left;
    font-weight: bolder;
    width:80%;
    margin: 0px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .change-password .change-password-form-wrapper .failure-message {
    color: red;
    background-color: #ffdddd;
    font-size: smaller;
    text-align: left;
    font-weight: bolder;
    width:80%;
    margin: 0px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .change-password form .button-link {
    color: #446ff2;
    text-decoration: none;
    transition: 0.3s ease;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  
  .change-password .change-password-form-wrapper .error-message {
    color: white;
    background-color: rgb(184, 20, 20);
    margin-bottom: 0 !important;
    margin-top:5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    font-size: small;
  }
  
  .required-field {
    color: red !important;
  }
  
  .show-password-checkbox {
    font-size: 12px; 
    color: #666; 
    /* margin-top: 5px !important;  */
    margin-bottom: 0px;
  }
  
  .show-password-checkbox input[type="checkbox"] {
    margin-right: 5px; 
  }
  
  .change-password form .button-link:hover {
    color: #5d0bb0;
    background-color: transparent;
  }
  .change-password form button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }