* {
  margin: 13;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  font-family: 'Poppins', sans-serif;
  
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #f0f2f5;
  color: #333;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 20px;
  padding-top:80px;
  background: linear-gradient(135deg, #230A7d, #5D0BB0);
}

.home-content {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align children horizontally */
  justify-content: center;
  align-items: center;
  align-content: center;
  /* max-width: 800px; */
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  color: #201f1f;
  margin-bottom: 20px;
  align-content: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  
}

h2 {
  font-size: 2.5rem;
  align-content: center;
  justify-content: center;
}

h3 {
  color: black; 
  align-content: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-top:20px;
}

h4 {
  color: black; 
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}

strong {
  color: #5D0BB0;
  text-align: center;
}

p {
  text-align: center;
}

.home-content h2, .home-content h3 {
  color: #333; /* or any other color you prefer */
}

.how-it-works ul{
  /* padding: 10px; */
  line-height: 1.6;
  position: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: left;
  display: inline-block;
  margin:0px;
  margin-bottom:10px;
}

.how-it-really-works {
  /* line-height: 1.6; */
  position: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: left;
  display: inline-block;
  background-color: #74d5f231 !important;
  border-radius: 15px;
  padding: 10px;
  padding-top: 0px;
  margin-top: 50px;
  padding-bottom:20px;
}

.features p {
  padding: 10px;
  line-height: 1.6;
  position: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: left;
  display: inline-block;
  
}

.squiggly-line {
  height: 20px; /* Height of the squiggly line */
  margin: 20px 0; /* Space above and below the line */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="20" viewBox="0 0 100 20"><path d="M0 10 Q 25 0, 50 10 T 100 10" stroke="%235D0BB0" fill="transparent"/></svg>') !important;
  background-repeat: repeat-x  !important; /* Repeat the pattern along the x-axis */
  background-size: 50px; /* Size of each repeat */
}

ul {
  list-style-type: disc;
  text-align: left;
  justify-content: center;
}


.btn {
  display: inline-block;
  background-color: #446FF2;
  color: #ffffff;
  padding: 10px 70px;
  border-radius: 25px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
  transition: background-color 0.3s ease-in-out;
}

.btn.get-started:hover {
  background-color: #5D0BB0;
}

.features {
  margin-top:20px;
  background: #f9f9f9;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.landing-img img {
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  margin-top:20px;
  margin-bottom:20px;
}

